<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Order</th>
                <th>Sku</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Gross Weight</th>
                <th>Pack Config</th>
                <th>Pallet Estimate</th>
                <th>Status</th>
                <th>Remarks</th>

            </tr>
        </thead>
        <tbody>
            {% for row in rows%}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>